h1{ background-color: white;
    text-decoration-line: underline;
}

fieldset{
  background-color: rgb(255, 202, 122); 
}
body{
    border-style: double;
    
}
a{
    text-decoration-line: none;
    text-decoration-color: black;
}
table{
    text-align: justify;
}